aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: left;
    align-items: center;
}

aside.logo img{
    padding: px px;
    width: 37%;
}

@media (max-width: 576) {
    aside.logo img {
        width: 350px;
    }
}